/.ProcessorModelGenerator.java._trace
/ProcessorModelGenerator.java
/.ProcessorModelGenerator.xtendbin
/.ProcessorModelErrorSafeExtensions.java._trace
/.BrokenTypeRefDetector.java._trace
/.ProcessorModelErrorSafeExtensions.xtendbin
/BrokenTypeRefDetector.java
/ProcessorModelErrorSafeExtensions.java
