/.ProcessorMetaDescriptionLabelProvider.java._trace
/.ProcessorMetaLabelProvider.java._trace
/ProcessorMetaDescriptionLabelProvider.java
/ProcessorMetaLabelProvider.java
/.ProcessorMetaDescriptionLabelProvider.xtendbin
/.ProcessorMetaLabelProvider.xtendbin
